<div class="container mt-4">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="form-group">
        <input type="text" formControlName="query" placeholder="Search for books" class="form-control" />
        <select formControlName="searchKey" class="form-control mt-2">
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="subject">Subject</option>
        </select>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
      </div>
    </form>
  
    <div class="row mt-4">
      <div class="col-md-4" *ngFor="let book of books">
        <mat-card class="mb-3">
          <a [routerLink]="['/book', book.key]">
            <img [src]="getBookCover(book)" alt="Book Cover" class="img-fluid">
          </a>
          <mat-card-content>
            <h5>
              <a [routerLink]="['/book', book.key]">{{ book.title }}</a>
            </h5>
            <p><strong>Author:</strong> {{ book.authors?.join(', ') || 'Unknown' }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  